<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAE1y7wfc4FrQ4YMH8Lhv-nx_AYHCPSkFs</string>
	<key>GCM_SENDER_ID</key>
	<string>290555063879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.safenet</string>
	<key>PROJECT_ID</key>
	<string>safe-net-tw</string>
	<key>STORAGE_BUCKET</key>
	<string>safe-net-tw.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290555063879:ios:7c622b03c8651664bd4b62</string>
</dict>
</plist>